* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
 }
 html, body {
	height: 100%;
	
  }

 header {
	height: 17vh;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

main{
	height: 76vh;
}

footer {
    height: 7vh;
}
