ul.list-inline {
    li.list-inline-item {
      display: inline-block; 
      margin: 2px;
      cursor: pointer;
      transition: transform 0.2s;

      img {
        width: 30px;
        height: 30px;
      }

      &:hover {
        transform: scale(1.1);
      }
    }
  }

